.pokemonCard {
  border: 1px solid #33333322;
  border-radius: 5px;
  transition: background-color 0.2s ease;
  width: 100%;
  border: 1px solid #ffffff22;
  background-color: #ffffff22;
  text-align: center;
}
.pokemonCardContent {
  padding: 1rem;
}

.pokemonCardActions {
  display: flex;
  justify-content: flex-end;
}

.pokemonCardButton {
  margin: 0.2rem;
  display: inline-block;
  border: 1px solid #ffffff22;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #ffffff11;
  &:hover {
    background-color: #00000011;
  }
}

.pokemonCardName {
  font-weight: bold;
  margin: 1rem 0;
}
